{% extends 'base2.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}


<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="/static/assets/img/theme/team-4.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{customer.id}}</span>
                  <span class="description">Customer ID</span>
                </div>
                <div>
                  <span class="heading">{{customer.invoice_no}}</span>
                  <span class="description">Invoice Number</span>
                </div>
                <div>
                  <span class="heading">{{request.user.id}}</span>
                  <span class="description">User ID</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ customer.first_name }} {{customer.last_name}}
            </h5>
            <div class="h5 font-weight-300">
              {{ customer.address }}
            </div>
            <div class="h5 mt-4">
              <!-- <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer -->
            </div>
            <div>
              <!-- <i class="ni education_hat mr-2"></i>University of Computer Science -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Job Card Details </h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Bike information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Vechile Name</label>
                    <input type="text" id="input-username" class="form-control text-dark" disabled  value="{{ customer.vechile_name }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Model Number</label>
                    <input type="text" id="input-email" class="form-control text-dark" disabled value="{{ customer.model_name}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name"> Registration Number</label>
                    <input type="text" id="input-first-name" class="form-control text-dark" disabled  value="{{ customer.registration_number }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Current Kilo-Meter</label>
                    <input type="text" id="input-last-name" class="form-control text-dark" disabled value="{{ customer.current_km }}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control text-dark" disabled value="{{customer.address}}" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Mobile Number</label>
                    <input type="text" id="input-city" class="form-control text-dark" disabled value="{{customer.mobile_number}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Phone Number</label>
                    <input type="text" id="input-country" class="form-control text-dark" disabled value="{{customer.phone_number}}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Maintenance information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Created Date</label>
                    <input id="input-address" class="form-control text-dark" disabled value="{{customer.created}}" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Maintenance Type</label>
                    <input type="text" id="input-city" class="form-control text-dark" disabled value="{{customer.maintenance_type}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Work Assign To</label>
                    <input type="text" id="input-country" class="form-control text-dark" disabled value="{{customer.work_assigned}}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Description</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <textarea rows="4" class="form-control text-dark" disabled>{{customer.description}}</textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Part Number</th>
                <th scope="col">Part Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
            {% for card in jobcard %}
              <tr>
                <th scope="row">{{card.part_number}}</th>
                <td>{{card.part_name}}</td>
                <td>{{card.quantity}}</td>
                <td>{{card.price}}</td>
                <td>{{card.total}}</td>
              </tr>
            </tbody>
            {% endfor %}
    </table>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
